@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;900&family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap");
* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

aside,
nav,
footer,
header,
section {
	display: block;
}

html,
body {
	height: 100%;
	min-width: 320px;
}

body {
	line-height: 1;
	font-family: "Roboto", sans-serif;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: "Roboto", sans-serif;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
  cursor: pointer;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

body {
	
	font-size: 14px;
}
body.lock {
	overflow: hidden;
}

#root {
  min-height: 100vh;
  /* min-width: 100vw; */
  overflow: hidden;
  position: relative;
}
.App {
  position: relative;
	width: 100%;
	min-height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
  
}
.main {
  flex: 1 1 auto;
}

.App-logo {
  height: 16vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    -webkit-animation: App-logo-float infinite 5s ease;
            animation: App-logo-float infinite 5s ease;
  }
}


.App-header {
  padding: 30px 20px;
  background-color: rgba(163, 43,74, 0.5);
}
.header__body {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.App-footer {
  background-color: rgba(163, 43,74, 0.5);
  padding: 20px;
  color: #fff;
}

.App-link {
  color: rgb(112, 76, 182);
}

@-webkit-keyframes App-logo-float {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(30deg);
  }
  75% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes App-logo-float {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(30deg);
  }  
  75% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

h1 {
  font-size: calc(36px + 1.2vmin);  
  text-align: center;
  color: #fff;
}
.auth {
  text-align: center;
}
.auth__title {
  font-size: 24px;
  margin: 50px 0 30px;
  line-height: 1.5;
}
.auth__link {
  font-size: 32px;
  font-weight: bold;
  color: #A32B4A;
}
.container__body {
  padding: 20px 0 ;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  
}
@media (max-width: 1250px) {
  .container__body {
    grid-template-columns: repeat(4, 1fr);
  }  
}

.photo {
  position: relative;
  overflow: hidden;
  height: 45vh;
}

.img {  
  min-height: 100%;
  width: 100%;
}
.text {
  position: absolute;
  top: 7px;
  right: 7px;  
  color: #fff;
  padding: 10px;
  text-align: right;
}
.user__link {
  font-size: 12px;
  color: #fff;
  text-decoration: none;
}
.link_to_full {
  position: absolute;
  top: 10px;
  left: 7px;
  color: #fff;
}
.likes {
  padding-right: 30px;
}
.add {
  padding: 10px 20px;
  font-size: 22px;
  border-radius: 12px;
  background-color: #565656;
  color: #fff;
  margin: 20px 0;
}
.link-to-back {
  font-size: 20px;
  font-weight: bold;
  color: #000;
  display: block;
  margin: 20px 0 40px;
}
.full__wrapper {
  display: flex;
  padding: 0 0 40px;
}
.full__photo {
  flex: 1 0 60%;
  position: relative;
}
.full__img {
  width: 100%;
  
}
.full__description {
  padding: 20px 10px 30px;
  text-align: right;
}
.full__description p {
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 1.5;
  text-align: left;
}
.full__likes {
  position: absolute;
  display: block;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
}

.footer__link {
  color: #fff;
  text-decoration: underline;
}
@media (max-width: 1250px) {
  .container__body {
    grid-template-columns: repeat(4, 1fr);
  }  
}
@media (max-width: 991.98px) {
  h1 {
    font-size: calc(32px + 1.2vmin);  
  }
  
  .auth__title {
    margin-bottom: 25px;
  }
  .auth__link {
    font-size: 32px;
    font-weight: bold;
    color: #A32B4A;
  }
  .container__body { 
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
  }
	
}
@media (max-width: 767.98px) {
  .container {
    padding: 0 30px;
  }
	.App-logo {
    height: 14vmin;
  }
  h1 {
    font-size: calc(32px + 1.2vmin);  
  }
  
  .auth__title {
    font-size: 20px;
    margin-bottom: 25px;
  }
  .auth__link {
    font-size: 26px;
  }
  .container__body { 
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
  }
  .full__wrapper {
    flex-direction: column;
  }
  .full__description {
    -moz-text-align-last: left;
         text-align-last: left;
  }
}
@media (max-width: 450px) {
  .container__body { 
    grid-template-columns: repeat(1, 1fr);
  }
  .container {
    padding: 0 20px;
  }
  h1 {
    font-size: calc(22px + 1.2vmin);  
  }
}
.error__title {
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 30px;
}